body {
	font-family: 'PixelatedFont', sans-serif; /* Use the custom font as the default font */
	/* overflow: hidden; */
}

@font-face {
	font-family: 'PixelatedFont';
	src: url('../assets/Pixelated/pix/pix.ttf') format('truetype'); /* Update the path to your font file */
}

section {
	top: 20vh;
	position: relative;
	color:rgb(255, 255, 254);
  z-index: 1;
}

.socialIcons > a {
	text-decoration: none;
}

.btn:hover {
	--bs-btn-hover-color: #ffffff;
	--bs-btn-hover-bg: #9c9ea0;
	box-shadow: 0 0 15px 3px #12190e;
}

.icon:hover {
	box-shadow: 0 0 10px 5px #585f51;
}

.cardButton {
	width: 75%;
}

.customH1 {
	color: #f6fff4;
	text-shadow: 5px 5px 10px #3a9a0a;
}

.cardHousing:hover > .card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.cardHousing {
	width: 9.4vw;
	min-width: 230px;
	max-width: 250px;
	height: 38vh;
  min-height: 450px;
  max-height: 500px;
	margin-top: 20px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  z-index: 1;
}

.card {
	height: 100%;
	width: 100%;
	margin-bottom: 10px;
	padding: 25px;
	position: relative;
	transition: transform 869ms;
	transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  transform: translateZ(-1px);
  -webkit-transform: translateZ(-1px);
}

.front, .back {
	height: 100%;
	width: 100%;
	position: absolute;
	box-shadow: 0 0 15px #bbf99c;
  padding: 1px;
}

.front {
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}

.back {
	display: flex;
	padding-left: 2px;
	padding-right: 2px;
	transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.customWidth {
  width: 2vmin;
  height: 2vmin;
	min-width: 200px;
	min-height: 200px;
	max-width: 250px;
	max-height: 250px ;
	box-shadow: 0 0 10px #c9dbc0;
}

.grid-fade {
  opacity: 0.5;
}