* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'PixelatedFont';
  src: url('../asessts/Pixelated/pix/pix.ttf') format('truetype'); /* Update the path to your font file */
}

body {
  font-family: 'PixelatedFont', sans-serif; /* Use the custom font as the default font */
  padding-top: 30vh;
}

#loginPassword {
  font-family: sans-serif, 'Arial'; /* Change the font family to Arial or any other system font */
}

.pongLogo {
  width: 10vw;
  max-width: 65px;
  min-width: 40px;
}

.secForm {
  width: 300px;
  max-width: 500px;
  min-width: 200px;
}

.secHome {
  margin-top: 200px;
}

.navbar-toggler {
  font-size: 1.25rem;
  background-color: #c9e9c9;
  box-shadow: 0 0 3px 3px #037e03;
}

.navbar-toggler:focus, .btn-close:focus {
  box-shadow: none;
}

.nav-link {
  margin-right: 40px;
  color: darkgrey;
  font-weight: 500;
  position: relative;
}

.navbar-nav {
  /* margin-right: 20px; */
  --bs-nav-link-hover-color: #7ce188;
}

.offcanvas {
  background-color: #4a614a;
  width: 300px !important; 
}

.nav-link:hover, .nav-link.active {
  color: #c3edc4;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #738d74;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before, .nav-line.active::before {
    width: 100%;
    visibility: visible;
  }
}

/* <nav class="navbar navbar-expand-lg fixed-top">
<div class="container-fluid">
  <a class="navbar-brand me-auto" href="#"><img src="../asessts/images/42logo.svg" alt="42 logo" class="logo pongLogo"><img src="../asessts/images/PONG.svg" alt="pong" class="logo pongLogo"></a>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="../asessts/images/42logo.svg" alt="42 logo" class="logo pongLogo"><img src="../asessts/images/PONG.svg" alt="pong" class="logo pongLogo"></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link mx-lg-2 active" aria-current="page" href="#">profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-lg-2" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-lg-2" href="#">tournament</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-lg-2" href="#">log out</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <a href="#" class="login-button">login</a> -->
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
</nav> */

/* <img src="../asessts/images/42logo.svg" alt="42 logo" class="logo pongLogo"><img src="../asessts/images/PONG.svg" alt="pong" class="logo pongLogo"> */