body {
  padding-top: 8vh;
  font-family: 'PixelatedFont', sans-serif;
  /* Use the custom font as the default font */
}

@font-face {
  font-family: 'PixelatedFont';
  src: url('../assets/Pixelated/pix/pix.ttf') format('truetype');
  /* Update the path to your font file */
}

#loginPassword,
#registerPassword,
#confirmPassword {
  font-family: sans-serif, 'Arial';
  /* Change the font family to Arial or any other system font */
}

.secForm {
  padding-top: 2vh;
  background-color: #212121;
  max-width: 640px;
  min-height: 30vh;
}

.btn:focus,
.form-control:focus {
  border: none;
  box-shadow: 0 0 9px #44ff00af;
}

.btn:hover {
  box-shadow: 0 0 9px #44ff00af;
}

.logColor {
  --bs-btn-bg: #69a559;
  --bs-btn-hover-bg: #A1FF8A;
  --bs-btn-border-color: #69a559;
  --bs-btn-hover-border-color: #A1FF8A;
  --bs-btn-active-color: #161a18;
  --bs-btn-active-bg: #4bc52d;
  --bs-btn-active-border-color: #4bc52d;
  --bs-btn-hover-color: #060706;
  --bs-btn-color: #ffffff;
}

.signColor {
  --bs-btn-bg: #51a1a7;
  --bs-btn-hover-bg: #89F4FB;
  --bs-btn-border-color: #51a1a7;
  --bs-btn-hover-border-color: #89F4FB;
  --bs-btn-active-color: #161a18;
  --bs-btn-active-bg: #25ecfa;
  --bs-btn-active-border-color: #25ecfa;
  --bs-btn-hover-color: #101211;
  --bs-btn-color: #ffffff;
}

.form-control {
  background-color: #e9e7e7;
}

.passForm {
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #212121;
  max-width: 500px;
}