body {
  padding-top: 8vh;
  font-family: 'PixelatedFont', sans-serif;
}

@font-face {
  font-family: 'PixelatedFont';
  src: url('../assets/Pixelated/pix/pix.ttf') format('truetype');
}

#loginPassword,
#registerPassword,
#confirmPassword {
  font-family: sans-serif, 'Arial';
}

.secForm {
  padding-top: 2vh;
  /* background-color: #212121; */
  background-color: #212529;
  max-width: 640px;
  min-height: 30vh;
  box-shadow: 0 0 10px #00ffbf83;
  /* z-index: 100; */
}

/* box-shadow: 0 0 9px #44ff00af; */
.btn:focus,
.form-control:focus {
  border: none;
  box-shadow: 0 0 9px #44ff00af;
}

.btn:hover {
  box-shadow: 0 0 9px #44ff00af;
}

.logColor {
  --bs-btn-bg: #69a559;
  --bs-btn-hover-bg: #A1FF8A;
  --bs-btn-border-color: #69a559;
  --bs-btn-hover-border-color: #A1FF8A;
  --bs-btn-active-color: #161a18;
  --bs-btn-active-bg: #4bc52d;
  --bs-btn-active-border-color: #4bc52d;
  --bs-btn-hover-color: #060706;
  --bs-btn-color: #ffffff;
}

.signColor {
  --bs-btn-bg: #51a1a7;
  --bs-btn-hover-bg: #89F4FB;
  --bs-btn-border-color: #51a1a7;
  --bs-btn-hover-border-color: #89F4FB;
  --bs-btn-active-color: #161a18;
  --bs-btn-active-bg: #25ecfa;
  --bs-btn-active-border-color: #25ecfa;
  --bs-btn-hover-color: #101211;
  --bs-btn-color: #ffffff;
}

.form-control {
  background-color: #e9e7e7;
}

.passForm {
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #212121;
  max-width: 500px;
}

#forgotPasswordLink {
  color: #007bff;
  cursor: pointer;
}
#forgotPasswordLink:hover {
  text-decoration: underline;
}

.grid-container {
  overflow: hidden;
  height: 100%;
  perspective: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.grid {
  /* background: linear-gradient(180deg, #00000000 0px, #00fbff83 0%, #00fbff83 1px, #00000000 0px), */
  background: linear-gradient(180deg, #00000000 0px, #00ffbf83 0%, #00ffbf83 1px, #00000000 0px),
  linear-gradient(90deg, #00000000 0px, #00ffbf83 0%, #00ffbf83 1px, #00000000 0px);
  background-size: 2em 1em, 10em 1em;
  background-color: black;
  height: 20em;
  width: 350%;
  position: absolute;
  top: 80%;
  left: 0;
  transform: rotateX(90deg) scale(2);
  animation: gridAnimation 10s infinite linear;
  z-index: -1;
}

@keyframes gridAnimation {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 0 10em, 0 10em;
  }
}

.grid::before {
  content: "";  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1em; /* Adjust this value to control the height of the blur */
  background: rgba(0, 0, 0, 0.8); /* Adjust this value to control the color of the blur */
  filter: blur(10px); /* Adjust this value to control the amount of blur */
  pointer-events: none;
  z-index: -1;
}

.grid-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, transparent, transparent 30%, rgba(0, 0, 0, 0.5) 69%);
  pointer-events: none;
  z-index: 1;
  filter: blur(50px);
}


.custoModal {
  color: #c6c6c6;
  background-color: #1a1a1a;
  box-shadow: 0 0 10px 2px #114e0e;
  --bs-modal-header-border-color: #114e0e;
  --bs-modal-footer-border-color: #114e0e;
}

.custoModalbtn {
  --bs-btn-bg: #114e0e;
  --bs-btn-border-color: none;
  --bs-btn-color: #b9b9b9;
  --bs-btn-hover-bg: #3f1927;
  --bs-btn-hover-border-color: #3f1927;
  --bs-btn-active-color: #c4c4c4;
  --bs-btn-active-bg: #3f1927;
  --bs-btn-active-border-color: #3f1927;
  --bs-btn-hover-color: #c4c4c4;
}

.custoModalbtn:hover {
  box-shadow: 0 0 5px 0 #b9b9b9;
}
