@font-face {
  font-family: 'PixelatedFont';
  src: url('../assets/Pixelated/pix/pix.ttf') format('truetype'); /* Update the path to your font file */
}

body {
  font-family: 'PixelatedFont', sans-serif; /* Use the custom font as the default font */
  overflow: hidden;
}

/* #navbar {
  z-index: 2000;
} */

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
}

.pongLogo {
  width: 10vw;
  max-width: 65px;
  min-width: 40px;
}

.nav-link {
  margin-right: 40px;
  color: #ccddcc;
  font-weight: 500;
  position: relative;
  text-shadow: 0 0 10px #00ff00;
}


.nav-link:hover,
.nav-link.active {
  color: #73ea75;
  text-shadow: none;
}

.customNavBar {
  --bs-border-color: #33832c;
  --bs-navbar-active-color: #9fcc0b;
}

/* to stop the icons from appearing in the navbar! */
.navbar-nav .nav-link .offcanvas-icon {
  display: none;
} .logoutCustom .offcanvas-icon {
  display: none;
} .offcanvas.show .navbar-nav .nav-link .offcanvas-icon {
  display: inline-block;
} .offcanvas.show .logoutCustom .offcanvas-icon {
  display: inline-block;
}
/* ------------------------------------------------- */

/* ----------border bottom when hovering!----------- */
@media (min-width: 991px) {
  .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #738d74;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .offcanvas.show .nav-link::before {
    left: 25%;
  }
  
  .nav-link:hover::before,
  .nav-line.active::before {
    width: 100%;
    visibility: visible;
  }
  .offcanvas.show .nav-link:hover::before,
  .offcanvas.show .nav-line.active::before {
    width: 50%;
    visibility: visible;
  }
}
/* ------------------------------------------------- */


/* justify navBar elements center when in navbar and start when in offcanvas */
.navbar-nav {
  justify-content: center;
} .offcanvas.show .navbar-nav {
  justify-content: start;
  text-shadow: none;
} .offcanvas.show .navbar-nav .nav-link, .offcanvas.show .logoutCustom .nav-link {
  text-shadow: none;
}
/* ------------------------------------------------- */


.offcanvas.show .offcanvas-body {
  display: flex;
  flex-direction: column;
}

.logoutCustom {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
