@font-face {
  font-family: 'PixelatedFont';
  src: url('../assets/Pixelated/pix/pix.ttf') format('truetype');
}

body {
  font-family: 'PixelatedFont', sans-serif;
}

.mainContext {
  min-height: calc(100vh - 5vh);
  margin-top: 5vh;
  padding-top: 3vh;
  max-width: 100vw;
}

.pseudoCanvas {
  background-color: #212121;
  width: 69vmin;
  height: 69vmin;
  position: relative;
}

/*? score-board */

.gameInfo-h3 {
  font-size: 1vw;
  word-wrap: break-word;
}

.gameInfo-h2 {
  font-size: 1vw;
  word-wrap: break-word;
}

.gameInfo-d6 {
  font-size: 1.69vw;
  word-wrap: break-word;
}

.gameInfo-d7 {
  font-size: 1.3vw;
  word-wrap: break-word;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

#player_1_score {
  padding-right: 5.5vw;
} #player_2_score {
  padding-left: 5.5vw;
  padding-right: 5.5vw;
} #player_3_score {
  padding-left: 5.2vw;
}


#player_3_alias {
  margin-left: 1.2vw;
}
/*! end of score-board */

/*? paddlez */
.paddle {

  position: absolute;
  width: 0.5vw;
  /* min-width: 5px; */
  height: 7.5vh;
  min-height: 40px;
  background-color: #1f7016;
}

#paddle_1 {
  top: calc(50% - (7.5vh / 2));
  left: 5px;
  position: absolute;
}

#paddle_2 {
  top: calc(50% - (7.5vh / 2));
  left: calc(100% - (0.5vw + 5px));
  position: absolute;
}

#paddle_3 {
  /* top: calc(100vh - (18.5vh)); */
  left: calc(50% - (0.5vw / 2));
  bottom: calc(-4% - 0.5vh / 2);
  rotate: 90deg;
  position: absolute;
}
/*! end of paddlez */

.dottedLine {
  width: 3px;
  height: 100%;
  left: calc(50% - 1.5px);
  position: absolute;
  border-style: dashed;
  border-color: #1f7016;
  background-color: transparent;
}

.ball {
  width: 2vmin;
  height: 2vmin;
  border-radius: 50%;
  position: absolute;
  background-color: #34a412;
  box-shadow: 0 0 10px 2px #5f6431;
  top: calc(50% - (2vmin / 2));
  left: calc(50% - (2vmin / 2));
}

/*? -----------------> modal design */
.custoModal {
  color: #e5e5e5;
  --bs-modal-header-border-color: none;
  --bs-modal-footer-border-color: none;
}

.btn {
  --bs-btn-bg: #282c2f;
  --bs-btn-border-color: none;
  --bs-btn-color: #f2f2f2;
  --bs-btn-hover-bg: #1f7016;
  --bs-btn-hover-border-color: #1f7016;
  --bs-btn-active-color: #101010;
  --bs-btn-active-bg: #1f7016;
  --bs-btn-active-border-color: #1f7016;
  --bs-btn-hover-color: #101010;
  box-shadow: inset 0 0 3px 2px #1f7016;
}

.custoModalbtn:hover {
  box-shadow: 0 0 5px 2px #161616;
}

#player2alias, #player3alias {
  background-color: #181915;
  color: #51a40c;
  border: none;
  padding-left: 1em;
}

#player2alias:focus, #player3alias:focus {
  box-shadow: 0 0 5px #57ae10;
}

.modal-content {
  background-color: transparent;
}

input[type="text"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}


input[type="text"]::placeholder {
  color: #504e45;
}
/*! -----------------> end of modal design */

/*? -----------------> gradient animation for text */
.gradientText {
  font-style: italic;
  background: linear-gradient(to right,#3cff00, #2c5519, #3cff00, #2c5519, #3cff00, #2c5519, #3cff00, #2c5519, #3cff00, #2c5519, #3cff00, #2c5519, #3cff00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: gradient 2s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*! -----------------> end of gradient text */

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/*? -----------------> gradient border animation for modal */
.gradientHousing {
  position: absolute;
  padding: 5px;
  overflow: hidden;
}

.gradientHousing:before {
  content: "";
  position: absolute;
  left: -25%;
  top: -100%;
  height: 300%;
  width: 150%;
  background-image: conic-gradient(#3cff00, #2c5519, #3cff00, #2c5519, #3cff00, #2c5519, #3cff00, #2c5519, #3cff00, #2c5519, #3cff00, #2c5519, #3cff00, #2c5519, #3cff00);
  animation: spin 8s infinite linear;
}
/*! -----------------> end of gradient modal border */

/*? -----------------> gradient border animation for pongTable */
.pongHousing {
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  position: absolute;
  padding: 5px;
  overflow: hidden;
  opacity: 1;
}

.pongHousing:before {
  content: "";
  position: absolute;
  left: -225%;
  top: -200%;
  height: 500%;
  width: 550%;
  background-image: conic-gradient(#3cff00, #2c5519, #3cff00, #2c5519, #3cff00, #2c5519, #3cff00, #2c5519, #3cff00, #2c5519, #3cff00, #2c5519, #3cff00, #2c5519, #3cff00);
  animation: spin 5s infinite linear;
}
/*! -----------------> end of gradient pongTable border */

.input-group .valid-feedback,
.input-group .invalid-feedback {
  display: none;
}
