@font-face {
  font-family: 'PixelatedFont';
  src: url('../assets/Pixelated/pix/pix.ttf') format('truetype');
}

body {
  font-family: 'PixelatedFont', sans-serif;
  overflow: hidden;
}


#player2Name {
  background-color: #181915;
  color: #ffd900;
  border: none;
  padding-left: 1em;
}

#player2Name:focus {
  box-shadow: 0 0 5px #ff8c00;
}


.modal-content {
  background-color: transparent;
}


.custoModal {
  color: rgb(180, 116, 19);
  --bs-modal-header-border-color: none;
  --bs-modal-footer-border-color: none;
}

.btn {
  --bs-btn-bg: #282c2f;
  --bs-btn-border-color: none;
  --bs-btn-color: #f2f2f2;
  --bs-btn-hover-bg: #de7b01;
  --bs-btn-hover-border-color: #de7b01;
  --bs-btn-active-color: #101010;
  --bs-btn-active-bg: #de7b01;
  --bs-btn-active-border-color: #de7b01;
  --bs-btn-hover-color: #101010;
  box-shadow: inset 0 0 3px 2px #de7b01;
}

.custoModalbtn:hover {
  box-shadow: 0 0 5px 2px #161616;
}

.gradientHousing {
  position: absolute;
  padding: 5px;
  overflow: hidden;
}

.gradientHousing:before {
  content: "";
  position: absolute;
  left: -27%;
  top: -125%;
  height: 369%;
  width: 150%;
  background-image: conic-gradient(#ff8c00, #552019, #ff8c00, #552019, #ff8c00);
  animation: spin 4s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

input[type="text"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}


input[type="text"]::placeholder {
  color: #504e45;
}

.gradientPlayerNames {
  background: linear-gradient(to right, #7c0a0a, #ff6a00, #e5ff00, #ff6a00, #7c0a0a, #ff6a00, #e5ff00, #ff6a00, #7c0a0a, #ff6a00, #e5ff00, #ff6a00, #7c0a0a, #ff6a00, #e5ff00, #ff6a00, #7c0a0a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: gradient 1s linear infinite;
}

.gradientText {
  font-style: italic;
  background: linear-gradient(to right, #7c0a0a, #e5ff00, #7c0a0a, #e5ff00, #7c0a0a, #e5ff00, #7c0a0a, #e5ff00, #7c0a0a, #e5ff00, #7c0a0a, #e5ff00, #7c0a0a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: gradient 2s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#game-container {
  padding-top: 20vh;
}

.box {
  width: 14vmin;
  height: 14vmin;
  color: #ff4500;
  background: #d0c600;
  font-size: 11rem;
  font-weight: 600;
  outline: none;
  box-shadow: inset 0 0 15px 5px #ff8c00, 0 0 5px #ff4500, 0 0 5px #ff0000;
  margin: .3vmin;
}

p {
  font-size: 1.4rem;
  color: #e5ff00;
  text-shadow: 0 0 2px #ff8c00, 0 0 25px #ff4500, 0 0 5px #ff0000;
}

.turn,
.winner {
  font-size: 1.5em;
  margin: 10px 0;
}


.box.focus {
  box-shadow: inset 0 0 30px 10px #ff0000;
}

.player-names {
  font-size: 3vw;
}

#startTTTModal {
  --bs-modal-width: 550px;
}

.input-group .valid-feedback,
.input-group .invalid-feedback {
  display: none;
}
