@font-face {
  font-family: 'PixelatedFont';
  src: url('../assets/Pixelated/pix/pix.ttf') format('truetype');
}

body {
  font-family: 'PixelatedFont', sans-serif;
  overflow: hidden;
}


#player2Name {
  background-color: #181915;
  color: rgb(35, 162, 35);
  border: none;
  padding-left: 1em;
  box-shadow: 0 0 5px #00ff00;
}

#player2Name:focus {
  box-shadow: 0 0 5px #92ff92;
}

.modal-content {
  background-color: transparent;
}


.custoModal {
  color: #017701;
  --bs-modal-header-border-color: none;
  --bs-modal-footer-border-color: none;
}

.btn {
  --bs-btn-bg: #282c2f;
  --bs-btn-border-color: none;
  --bs-btn-color: #f2f2f2;
  --bs-btn-hover-bg: #00b000;
  --bs-btn-hover-border-color: #00b000;
  --bs-btn-active-color: #101010;
  --bs-btn-active-bg: #00b000;
  --bs-btn-active-border-color: #00b000;
  --bs-btn-hover-color: #101010;
  box-shadow: inset 0 0 3px 2px #00b000;
}

.custoModalbtn:hover {
  box-shadow: 0 0 5px 2px #161616;
}

.gradientHousing {
  position: absolute;
  padding: 5px;
  overflow: hidden;
}

.gradientHousing:before {
  content: "";
  position: absolute;
  left: -27%;
  top: -125%;
  height: 369%;
  width: 150%;
  background-image: conic-gradient(#00ff00, #005100, #00ff00, #005100, #00ff00);
  animation: spin 4s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

input[type="text"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}


input[type="text"]::placeholder {
  color: #504e45;
}

.gradientPlayerNames {
  background: linear-gradient(120deg, #005100, #00ff00, #005100, #00ff00, #005100, #00ff00, #005100, #00ff00, #005100, #00ff00, #005100, #00ff00, #005100, #00ff00, #005100, #00ff00, #005100, #00ff00, #005100, #00ff00, #005100, #00ff00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: gradient 10s linear infinite;
}

.gradientText {
  font-style: italic;
  background: linear-gradient(to right, #00ff00, #005100, #00ff00, #005100, #00ff00, #005100, #00ff00, #005100, #00ff00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: gradient 2s linear infinite;
}

.gradientInput {
  background: linear-gradient(120deg, #0d3f0d, #00ff00, #0d3f0d, #00ff00, #0d3f0d, #00ff00, #0d3f0d, #00ff00, #0d3f0d, #00ff00, #0d3f0d, #00ff00, #0d3f0d, #00ff00, #0d3f0d, #00ff00, #0d3f0d, #00ff00, #0d3f0d, #00ff00);
  color: transparent;
  background-size: 200% 100%;
  animation: gradient 5s linear infinite;
  z-index: 5;
}

.sbinner {
  background: linear-gradient(120deg, #157815, #00ff00, #157815, #00ff00, #157815, #00ff00, #157815, #00ff00, #157815, #00ff00, #157815, #00ff00, #157815, #00ff00, #157815, #00ff00, #157815, #00ff00, #157815, #00ff00, #157815, #00ff00);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  animation: spin 15s infinite linear;
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 100%;
  }
}

#game-container {
  padding-top: 20vh;
}

.Lbox {
  width: 14vmin;
  height: 14vmin;
  /* color: #017701; */
  background: #000;
  font-size: 11rem;
  font-weight: 600;
  outline: none;
  box-shadow: inset 0 0 25px 10px #47cb47, 0 0 5px #00ff00, 0 0 5px #017701;
  margin: .3vmin;
}

.box {
  width: 14vmin;
  height: 14vmin;
  font-size: 11rem;
  font-weight: 600;
  outline: none;
  box-shadow: inset 0 0 15px 10px #47cb47, 0 0 5px #00ff00, 0 0 5px #017701;
  margin: .3vmin;
  padding-left: .85vw;
  padding-bottom: .35vw;
  font-size: 7vw;
  position: relative;
  z-index: 2; /* Ensure this is higher than .boxBg */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.boxBg {
  width: 14vmin;
  height: 14vmin;
  background-color: black;
  position: absolute;
  z-index: 1; /* Ensure this is lower than .box */
}

p {
  font-size: 1.4rem;
  color: #d3e2cb;
  text-shadow: 0 0 5px #017701, 0 0 10px #00ff00;
}

.turn,
.winner {
  font-size: 1.4vw;
  margin: 10px 0;
}


.box.focus {
  /* background-color: #12d712; */
  box-shadow: inset 0 0 15px 10px #d4fcd4, 0 0 5px #017701, 0 0 5px #ffffff;
}

.player-names {
  font-size: 3vw;
}

#startTTTModal {
  --bs-modal-width: 550px;
}

.input-group .valid-feedback,
.input-group .invalid-feedback {
  display: none;
}

.customBg {
  background-color: #1d1f1d;
}

.grid-fade {
  /* opacity: 0; */
}