body {
	font-family: 'PixelatedFont', sans-serif; /* Use the custom font as the default font */
	font-size: 20px;
  }
  
  @font-face {
	font-family: 'PixelatedFont';
	src: url('../asessts/Pixelated/pix/pix.ttf') format('truetype'); /* Update the path to your font file */
  }

section {
	top: 150px;
	position: relative;
	color:rgb(255, 255, 254);
}

.table {
	--bs-table-color: #e8ebe5;
	--bs-table-bg: #1a1a1a;
}

tbody tr:hover {
	color: #ffffff !important;
	border: none;
	box-shadow: none;
	box-shadow: inset 0 0 10px #c6faae !important;
}

.testt:hover {
	background-color: #6fe537;
}

.table thead th {
	border-bottom: 3px solid #395d2b;
	border-top: 3px solid #395d2b;
}

.table td, .table th {
	border: none;
	border-top: 2px solid #1f3317;
}

.customWidth {
	width: 10vw;
	min-width: 200px;
	max-width: 250px;
	box-shadow: 0 0 10px #6fe537;
}

.profile {
	font-size: 28px;
	line-height: 50px;
}

.profileButton {
	width: 60%;
}

.buttonContainer {
	padding-left: 10%;
}